@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body{

    height: 100vh;
    background-image: linear-gradient(688deg, rgb(33,87,248),rgb(79,251,252),rgb(223,60,223),rgb(246,65,141),rgb(255,243,100),rgb(223,60,223));
    font-family: 'Lato', sans-serif;
}
/* BOUTON NEW GAME */
.btn-light{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-image: repeating-linear-gradient(49deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(94deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(4deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(139deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(94deg, rgb(252,194,218),rgb(255,222,89));
}
 /* PLAYER 1 START*/
.img1{
    width: 80%;
}
.titleplayer1{
    font-family: 'Lato', sans-serif;
    font-weight: bold; 
    font-size: 200%;
    color: white;
    text-shadow: rgb(122, 122, 122) 4px 3px 0px;
}

/* TITLE FOR TOTAL SCORE - PLAYER 1 AND 2 */
.title2{
    font-family: 'Lato', sans-serif;
    font-weight: bold; 
    font-size: 150%;
    color: white;
    text-shadow: rgb(122, 122, 122) 4px 3px 0px;
}
/* TITLE FOR NUMBER TOTAL SCORE - PLAYER 1 AND 2*/
.globalscore1{
    font-family: 'Lato', sans-serif;
    font-weight: bold; 
    font-size: 400%;
    color: white;
}
.globalscore2{
    font-family: 'Lato', sans-serif;
    font-weight: bold; 
    font-size: 400%;
    color: white;
}
 /* PLAYER 2 START*/
.img2{
    width: 40%;
}
.titleplayer2{
    font-family: 'Lato', sans-serif;
    font-weight: bold; 
    font-size: 200%;
    color:rgb(247, 193, 202);
    text-shadow: rgb(122, 122, 122) 4px 3px 0px;
}

/* BUTTON ROLL DICE*/
.btn-primary{
    background-image: linear-gradient(450deg, rgb(92,225,230),rgb(92,225,230),rgb(105,139,232));
}
/* BUTTON HOLD CURRENT SCORE*/
.btn-secondary{
    background-image: linear-gradient(90deg, rgb(243, 114, 209) 0%,rgb(44, 19, 241) 100%);
    }

/* CLOUD START*/
.image-container {
        position: relative;
        display: inline-block;
}
.image-container img {
    width: 80%;
    height: auto;
  }
  .image-container .text {
    position: absolute;
    bottom: 50px;
    left: 44%;
    font-size: 24px;
    color: white;
    padding: 10px;
  }
  .cloud-color{
   color: white
  }
  #cloud-title {
    font-size: 2px;
    font-weight: bold;
    fill: grey;
   
}
  #cloud-number1 {
    font-size: 7px;
    font-weight: bold;
    fill: rgb(243, 34, 163);
   
}
#cloud-number2 {
    font-size: 7px;
    font-weight: bold;
    fill: rgb(243, 34, 163);
   
}
#cloud-title2 {
    font-size: 2px;
    font-weight: bold;
    fill: grey;
   
}
  #cloud-number2 {
    font-size: 7px;
    font-weight: bold;
    fill: rgb(243, 34, 163);
   
}
.cloud-container {
    position: relative;
}
/* CLOUD END*/

/* STARS AROUND DICE PICTURE*/

.stars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.star-1 {
    margin-right: auto;
    color: rgb(244, 144, 243);
}

.star-2 {
    margin-left: auto;
    margin-right: auto;
    color: rgb(241, 241, 172);
}

.star-3 {
    margin-left: auto;
    color: rgb(152, 152, 235);
}
.star-4 {
    margin-left:10px;
    margin-right: 350px;
    color: rgb(165, 235, 152);
}
.star-5 {
    margin-left:0px;
    margin-right: 200px;
    color: rgb(181, 243, 171);
}
/* STARS AROUND DICE PICTURE END*/

/* WINNER MESSAGE START*/
.winner-message {
    font-size: 24px;
    font-weight: bold;
    color:rgb(247, 247, 247);
    text-shadow: rgb(122, 122, 122) 4px 3px 0px;
    text-align: center;
    display: none; /* Cachez le message par défaut */
  }
 
/* WINNER MESSAGE END*/ 

/* LOSE MESSAGE START*/
.lose-message {
    font-size: 24px;
    color:rgb(253, 252, 252);
    text-shadow: rgb(122, 122, 122) 4px 3px 0px;
    text-align: center;
    /*display: none; /* Cachez le message par défaut */
  }
  
/* LOSE MESSAGE END*/